div.card.h-100 {
    transition:
        transform 0.2s,
        box-shadow 0.2s;

    &:hover {
        transform: translateY(-2%);
        box-shadow: 0 3px 5px #ccc;
    }
}

.modal {
    background: none;
}

.mb-1 {
    font-size: 16px;
}

small {
    font-size: 14px;
}

input[type="range"] {
    appearance: none;
    background: #9eeaf9;
    height: 7px;
    border-radius: 10px;
}
input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    background: #055160;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

h5:hover {
    text-decoration: underline;
}

.car-image-container {
    margin-bottom: 15px;
}

.angle-buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.angle-button {
    border: 2px solid #000;
}

.car-image {
    object-fit: cover;
    width: 100%;
    height: 175px;
    border-radius: 5px;
}

.accordion-button:focus {
    box-shadow: none;
}

.active {
    background: #000;
}

.card-body {
    flex: none;
}

.whatsapp-float {
    z-index: 5;
}